h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin: 0;
  background-color: rgb(16, 3, 27);
  height: 4rem;
}

.highlight {
  color: #1DB954;
}

.App {
  background-image: url(./background-image.webp);
  height: calc(100vh - 4rem);
  background-size: cover;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

